+++
title = "Axway-Open-Docs"
linkTitle = "Axway-Open-Docs"

+++

{{< blocks/cover title="Documentation for AMPLIFY API Management, AMPLIFY Central, and AMPLIFY Shared Services" image_anchor="top" height="full" color="primary" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/Axway/axway-open-docs">
		Repository <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">You can now contribute to the documentation directly!</p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead %}}
This website makes it easy for you to contribute directly to the user documentation for AMPLIFY API Management, AMPLIFY Central, and AMPLIFY Shared Services. 

Help us to improve the documentation for our customers!

#BetterTogether
{{% /blocks/lead %}}

{{< blocks/section >}}
<div class="col-12">
<h1 class="text-center">AMPLIFY API Management</h1>
</div>
{{< /blocks/section >}}

{{< blocks/section  color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="API Gateway" url="/docs/api_mgmt_overview/api_mgmt_components/apigateway/" %}}
API Gateway manages, delivers, and secures enterprise APIs, applications, and consumers. 
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-lightbulb" title="API Manager" url="/docs/apim_administration/apimgr_admin/api_mgmt_workflow/" %}}
API Manager is a web-based API administration and management tool layered on API Gateway.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-lightbulb" title="API Portal" url="/docs/apim_administration/apiportal_admin/apip_overview/" %}}
API Portal is a self-service developer portal layered on both API Manager and API Gateway.
{{% /blocks/feature %}}

{{< /blocks/section >}}


{{< blocks/section color="primary" >}}
<div class="col-12">
<h1 class="text-center">AMPLIFY Central</h1>
</div>
{{< /blocks/section >}}

{{< blocks/section color="secondary">}}
{{% blocks/feature icon="fa-lightbulb" title="API Management" url="/docs/central/quickstart" %}}
Design a custom API and import it into AMPLIFY Central. Add security to your API and share it with your consumers using AMPLIFY Catalog.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-lightbulb" title="DevOps" url="/docs/central/cli_getstarted/" %}}
Integrate AMPLIFY Central in your existing DevOps infrastructure using the AMPLIFY CLI or AMPLIFY Central DevOps API.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-lightbulb" title="Microservice Mesh Governance (BETA)" url="/docs/central/mesh_management" %}}
Centrally manage APIs and microservices across multiple cloud and on-premise environments.
{{% /blocks/feature %}}

{{< /blocks/section >}}


{{< blocks/section color="primary" >}}
<div class="col-12">
    <h1 class="text-center">AMPLIFY Shared Services</h1>
</div>
{{< /blocks/section >}}

{{< blocks/section color="secondary">}}
<div class="col row justify-content-center">
{{% blocks/feature icon="fa-lightbulb" title="Support Portal API" url="/docs/shared_services/supportapi/" %}}
Retrieve and update [Axway Support](https://support.axway.com)
support requests, business service requests and customer enhancements requests.
{{% /blocks/feature %}}
</div>
{{< /blocks/section >}}
